ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

li { 
    padding-left: 16px; 
}

li:before {
    content: ""; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: blue; /* Or a color you prefer */
}

.footer-nav {
    display: flex;
    justify-content: center;
}

#gmail {
	color: #FF0101
}

#linkedin {
	color: #007bb6
}

#twitter {
	color: #00aced
}

#instagram {
	color: #bc2a8d
}

#pdf {
	color: #A735FD
}
