body {
	background-color: #222930;
	padding: 50px;
}

h1 {
	font-weight:bold;
	color:#E9E9E9;
}

h2 {
	color: #4EB1BA;	
}

a {
	color:inherit;
}

a:hover {
	color:inherit;
	text-decoration:inherit;
}

.post-content {
	color: #E9E9E9;
}

.post-date{
	color:#C3DEE0;
}

#top-line {
	color: #76323F;
	background-color: #76323F;
	height: 2px;
	border: 0;
	margin-bottom: 12px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    font-weight: bold;
    color: #E9E9E9;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4EB1BA;
}

.link {
	color: #A6E7ED;
}

.link:hover {
	color:#E9E9E9;
	text-decoration:none; 
    	cursor:pointer; 
}

.content {
	text-align:left;
	padding:10px 70px 10px 70px;
	color:#E9E9E9;
}

.footer {
	text-align: center;
	padding: 3px 0;
	margin-top: 0px;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

#gmail {
	color: #FF0101
}

#linkedin {
	color: #007bb6
}

#twitter {
	color: #00aced
}

#instagram {
	color: #bc2a8d
}

#pdf {
	color: #A735FD
}

#github {
	color: #000000
}

.graph-title {
	font-weight:bold;
	font-size:20px;
	text-align:center;
	margin: 0px;
}

.graph-subtitle {
	text-align:center;
	margin:0px;
	font-size: 14px;
	line-height:14px;
}
