body {
	background-color: #F4F4F4;
	padding: 50px;
}

h1 {
	font-size: 46px;
	font-weight:bold;
	color:#565656;
}

h2 {
	font-sie: 18px;
	color: #76323F;	
}

a {
	color:inherit;
}

a:hover {
	color:inherit;
	text-decoration:inherit;
}

.post-content {
    margin-bottom: 15px;
}

.post-date{
	color:#54606B;
}

#top-line {
	color: #76323F;
	background-color: #76323F;
	height: 2px;
	border: 0;
	margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C4BFC0;
}

li {
    float: left;
}

li a {
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #76323F;
}

.content {
	text-align:left;
	padding:70px;
}

.footer {
	text-align: center;
	background: #B0A9A9;
	padding: 3px 0;
	margin-top: 0px;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

#gmail {
	color: #FF0101
}

#linkedin {
	color: #007bb6
}

#twitter {
	color: #00aced
}

#instagram {
	color: #bc2a8d
}

#pdf {
	color: #A735FD
}

#github {
	color: #000000
}
