<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aeint Thet Ngon</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>  
 
<h1>Aeint Thet Ngon's Data Science Portfolio</h1>
<ul>
  <li><a href="./index.html">HOME</a></li>
  <li><a href="./projects.html">PROJECTS</a></li>
  <li><a href="./about.html">ABOUT</a></li>
  <li><a href="/images/resume/AeintNgon_resume.pdf">RESUME</a></li>
</ul>  
<br><br>
	
  {{content}}
  
<hr id='bottom-line'>

<footer class="footer">
	<div class="inner-footer">
		<ul class="footer-nav">
			<li><a id="gmail" href="mailto:an692@georgetown.edu" target="_blank"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a></li>
			<li><a id="linkedin" href="https://www.linkedin.com/in/Aeintngon/" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
</li>
			<li><a id="github" href="https://github.com/aeintngon" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
</li>
			<li><a id="twitter" href="https://twitter.com/aeintngon" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
</li>
			<li><a id="pdf" href="/images/resume/AeintNgon_resume.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i></a>
</li>
		</ul>

<div id="gr_challenge_5493" style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0px 7px 0px 7px; max-width:230px; min-height: 100px">
  <div id="gr_challenge_progress_body_5493" style="font-size: 12px; font-family: georgia,serif;line-height: 18px">
    <h3 style="margin: 4px 0 10px; font-weight: normal; text-align: center">
      <a style="text-decoration: none; font-family:georgia,serif;font-style:italic; font-size: 1.1em;color:#E9E9E9;" rel="nofollow" href="https://www.goodreads.com/challenges/5493-2017-reading-challenge">2017 Reading Challenge</a>
    </h3>
        <div class="challengePic">
          <a rel="nofollow" href="https=://www.goodreads.com/challenges/5493-2017-reading-challenge"><img alt="2017 Reading Challenge" style="float:left; margin-right: 10px; border: 0 none" src="https://images.gr-assets.com/challenges/1486591746p2/5493.jpg" /></a>
        </div>
      <div style="color:#E9E9E9;">
        <a rel="nofollow" href="https://www.goodreads.com/user/show/8151367-aeint">Aeint</a> has
             read 14 books toward
             their goal of
             52 books.
      </div>
      <div style="width: 100px; margin: 4px 5px 5px 0; float: left; border: 1px solid #382110; height: 8px; overflow: hidden; background-color: #FFF">
        <div style="width: 26%; background-color: #D7D2C4; float: left"><span style="visibility:hidden">hide</span></div>
      </div>
      <div style="font-family: arial, verdana, helvetica, sans-serif;font-size:90%">
        <a rel="nofollow" href="https://www.goodreads.com/user_challenges/6970142">14 of 52 (26%)</a>
      </div>
        <div style="text-align: right;">
          <a style="text-decoration: none; font-size: 10px;" rel="nofollow" href="https://www.goodreads.com/user_challenges/6970142">view books</a>
        </div>
  </div>
  <script src="https://www.goodreads.com/user_challenges/widget/8151367-aeint?challenge_id=5493&v=2"></script>
</div>

	</div>
</footer>
</body>
</html>
