<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aeint Thet Ngon</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>  
 
<h1>Aeint Thet Ngon</h1>

<hr id='top-line'>

<ul class="main-list">
  <li><a href="./index.html">HOME</a></li>
  <li><a href="./about.html">ABOUT</a></li>
  <li><a href="/static/resume/AeintNgon_resume.pdf">RESUME</a></li>
</ul>  
  {{content}}
  
<hr id='bottom-line'>

<footer class="footer">
	<div class="inner-footer">
		<ul class="footer-nav">
			<li><a id="gmail" href="mailto:aeintngon@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a></li>
			<li><a id="linkedin" href="https://www.linkedin.com/in/Aeintngon/" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
</li>
			<li><a id="github" href="https://github.com/aeintngon" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
</li>
			<li><a id="twitter" href="https://twitter.com/aeintthetngon" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
</li>
			<li><a id="instagram" href="https://www.instagram.com/aeinttn/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
</li>
			<li><a id="pdf" href="/static/resume/AeintNgon_resume.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i></a>
</li>
		</ul>
	</div>
</footer>
</body>
</html>
